<h3>{{name}}</h3>

{{#unless isExpanded}}
  <span role="button" {{action "toggleLinkSection"}}>
    [ Expand ]
  </span>
{{/unless}}

{{#if isExpanded}}
  <ul>
    <li>
      Twitter:
      <a href="http://twitter.com/{{twitter}}"
        target="_blank" rel="noopener">
        @{{twitter}}
      </a>
    </li>
    <li>
      Github:
      <a href="http://github.com/{{github}}"
        target="_blank" rel="noopener">
        @{{github}}
      </a>
    </li>
  </ul>

  <span role="button" {{action "toggleLinkSection"}}>[ Collapse ]</span>
{{/if}}

{{yield}}